@use"src/mixins" as *;

.container {
  /*@include flex-direction(row);
  @include flex-position(center);*/
}

.simpleFormatted {
  padding-bottom: 25px;
  justify-content: center;
}

.error {
  padding-top: 7px;
  color: red;
}

.form {
  @include flex-direction(column);
  width: 300px;
  margin: 0 auto;
}
