<mat-card class="mat-elevation-z6 restrict-width">
  <mat-card-content fxLayout="column" fxFlex fxLayoutAlign="center">

    <div>
      <h1 *ngIf="profile" fxLayoutAlign="center center">Witaj na swoim profilu, {{profile.nickname}}!</h1>
      <h1 *ngIf="!profile" fxLayoutAlign="center center">Witaj na swoim profilu!</h1>
    </div>

    <div *ngIf="profile" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15">
      <p>E-mail: {{profile.username}}</p>
      <p *ngIf="!isChangingNick">Nick: {{profile.nickname}} <button mat-icon-button (click)="changeEditNick()"><mat-icon>edit</mat-icon></button></p>
      <p *ngIf="isChangingNick">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>Nick</mat-label>
          <input [(ngModel)]="newNick" type="text" matInput>
        </mat-form-field>
        <button mat-icon-button (click)="changeEditNick()"><mat-icon>edit</mat-icon></button>
      </p>
      <p>Typ konta: {{profile.authorities}}</p>
      <button mat-raised-button color="warn" (click)="logOut()">Wyloguj</button>
    </div>

    <br>

    <h1 fxLayoutAlign="center center">ZAPISANE BUILDY</h1>

    <table #table  *ngIf="builds && paginator" mat-table [dataSource]="builds.pageableBuilds.content" [trackBy]="trackBy" matSort>
      <ng-container matColumnDef="id">
        <th style="width: 40px" mat-header-cell *matHeaderCellDef mat-sort-header> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="profession">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef mat-sort-header> Profesja</th>
        <td mat-cell *matCellDef="let element"><img
          src="../../assets/professions/{{element.profession.toLowerCase()}}.png" alt="{{element.profession}}"></td>
      </ng-container>
      <ng-container matColumnDef="level">
        <th style="width: 55px" mat-header-cell *matHeaderCellDef mat-sort-header> Poziom</th>
        <td mat-cell *matCellDef="let element"> {{element.level}} </td>
      </ng-container>
      <ng-container matColumnDef="likes">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef mat-sort-header> Polubień</th>
        <td mat-cell *matCellDef="let element"> {{element.likes}} </td>
      </ng-container>
      <ng-container matColumnDef="buildName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
        <td style="word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.buildName}} </td>
      </ng-container>
      <ng-container matColumnDef="shortDescription">
        <th mat-header-cell *matHeaderCellDef> Krótki opis</th>
        <td style="word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.shortDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="hidden">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef mat-sort-header> Ukryty</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.hidden">
            <mat-icon style="color: limegreen">check_circle</mat-icon>
          </div>
          <div *ngIf="!element.hidden">
            <mat-icon style="color: rgb(128,128,128)">highlight_off</mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="pvpBuild">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef> Pod PvP</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.pvpBuild">
            <mat-icon style="color: limegreen">check_circle</mat-icon>
          </div>
          <div *ngIf="!element.pvpBuild">
            <mat-icon style="color: rgb(128,128,128)">highlight_off</mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th style="width: 100px" mat-header-cell *matHeaderCellDef> Akcje</th>
        <td mat-cell *matCellDef="let element" fxLayoutGap="5">
          <button mat-icon-button [routerLink]="['/build-calculator/build/' + element.id]">
            <mat-icon style="color: cornflowerblue">remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteBuild(element.id)">
            <mat-icon style="color: red">delete</mat-icon>
          </button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator *ngIf="builds && builds.pageableBuilds.totalElements > 0"
                   [length]="builds.pageableBuilds.totalElements" [pageSize]="25"
                   aria-label="Select page" (page)="onPageEvent($event)">
    </mat-paginator>

    <h1 fxLayoutAlign="center center">POLUBIONE BUILDY</h1>

    <table #table  *ngIf="likedBuilds && paginatorLiked" mat-table [dataSource]="likedBuilds.pageableBuilds.content" [trackBy]="trackBy" matSort>
      <ng-container matColumnDef="id">
        <th style="width: 40px" mat-header-cell *matHeaderCellDef mat-sort-header> id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="profession">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef mat-sort-header> Profesja</th>
        <td mat-cell *matCellDef="let element"><img
          src="../../assets/professions/{{element.profession.toLowerCase()}}.png" alt="{{element.profession}}"></td>
      </ng-container>
      <ng-container matColumnDef="level">
        <th style="width: 55px" mat-header-cell *matHeaderCellDef mat-sort-header> Poziom</th>
        <td mat-cell *matCellDef="let element"> {{element.level}} </td>
      </ng-container>
      <ng-container matColumnDef="likes">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef mat-sort-header> Polubień</th>
        <td mat-cell *matCellDef="let element"> {{element.likes}} </td>
      </ng-container>
      <ng-container matColumnDef="buildName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
        <td style="word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.buildName}} </td>
      </ng-container>
      <ng-container matColumnDef="shortDescription">
        <th mat-header-cell *matHeaderCellDef> Krótki opis</th>
        <td style="word-wrap: break-word;" mat-cell *matCellDef="let element"> {{element.shortDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="pvpBuild">
        <th style="width: 75px" mat-header-cell *matHeaderCellDef> Pod PvP</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.pvpBuild">
            <mat-icon style="color: limegreen">check_circle</mat-icon>
          </div>
          <div *ngIf="!element.pvpBuild">
            <mat-icon style="color: rgb(128,128,128)">highlight_off</mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th style="width: 100px" mat-header-cell *matHeaderCellDef> Akcje</th>
        <td mat-cell *matCellDef="let element" fxLayoutGap="5">
          <button mat-icon-button [routerLink]="['/build-calculator/build/' + element.id]">
            <mat-icon style="color: cornflowerblue">remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsLiked"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsLiked;"></tr>
    </table>
    <mat-paginator #paginatorLiked *ngIf="likedBuilds && likedBuilds.pageableBuilds.totalElements > 0"
                   [length]="likedBuilds.pageableBuilds.totalElements" [pageSize]="25"
                   aria-label="Select page" (page)="onLikedPageEvent($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
