<div class="restrict-width" style="padding-bottom: 15px">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="4" style="padding-bottom: 15px">
          <div *ngFor="let userRars of userRarsWithDrifs">
            <button *ngIf="activeBuild === userRars.name" style="width: 80px" mat-flat-button color="primary"
                    (click)="setActiveBuild(userRars.name)">
              {{userRars.name}}
            </button>
            <button *ngIf="activeBuild !== userRars.name" style="width: 80px" mat-flat-button color="accent"
                    (click)="setActiveBuild(userRars.name)">
              {{userRars.name}}
            </button>
          </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1"> <!--cdkDropListGroup-->
          <div *ngFor="let eq of getActiveBuild()?.rarsWithDrifs">
            <div class="circle" fxLayoutAlign="center center" style="margin-bottom: 8px">
              <img src="assets/equipment/placeholders/{{eq.slot}}.png" alt="{{eq.slot}}">
              <div *ngIf="eq.rank <= 12" class="capacity">{{printUsedCapacity(eq)}}</div>
            </div>
            <div>
              <mat-form-field style="width: 70px" appearance="fill" color="accent">
                <mat-label>Stars</mat-label>
                <mat-select [(ngModel)]="eq.ornaments" (selectionChange)="calculateModSummary()">
                  <mat-option [value]=1>1* - Bronze 1</mat-option>
                  <mat-option [value]=2>2* - Bronze 2</mat-option>
                  <mat-option [value]=3>3* - Bronze 3</mat-option>
                  <mat-option [value]=4>4* - Silver 1</mat-option>
                  <mat-option [value]=5>5* - Silver 2</mat-option>
                  <mat-option [value]=6>6* - Silver 3</mat-option>
                  <mat-option [value]=7>7* - Gold 1</mat-option>
                  <mat-option [value]=8>8* - Gold 2</mat-option>
                  <mat-option [value]=9>9* - Gold 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 70px" appearance="fill" color="accent">
                <mat-label>Ranga</mat-label>
                <mat-select [(ngModel)]="eq.rank" (selectionChange)="calculateModSummary()">
                  <mat-option [value]=2>II</mat-option>
                  <mat-option [value]=3>III</mat-option>
                  <mat-option [value]=4>IV</mat-option>
                  <mat-option [value]=5>V</mat-option>
                  <mat-option [value]=6>VI</mat-option>
                  <mat-option [value]=7>VII</mat-option>
                  <mat-option [value]=8>VIII</mat-option>
                  <mat-option [value]=9>IX</mat-option>
                  <mat-option [value]=10>X</mat-option>
                  <mat-option [value]=11>XI</mat-option>
                  <mat-option [value]=12>XII</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=13>Żmij</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=14>Gorthdar</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=15>Attawa</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=16>Imisindo</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=17>Washi</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=18>Allenor</mat-option>
                  <mat-option *ngIf="eq.slot === 'weapon'" [value]=19>Latarnia Życia</mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="eq.rank > 12" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field style="width: 70px" color="accent">
                  <mat-label>Krytyk</mat-label>
                  <mat-select [(ngModel)]="getActiveBuild().critEpicModLevel" (selectionChange)="calculateModSummary()">
                    <mat-option [value]=1>1</mat-option>
                    <mat-option [value]="Number(2)">2</mat-option>
                    <mat-option [value]="Number(3)">3</mat-option>
                    <mat-option [value]="Number(4)">4</mat-option>
                    <mat-option [value]="Number(5)">5</mat-option>
                    <mat-option [value]="Number(6)">6</mat-option>
                    <mat-option [value]="Number(7)">7</mat-option>
                    <mat-option [value]="Number(8)">8</mat-option>
                    <mat-option [value]="Number(9)">9</mat-option>
                    <mat-option [value]="Number(10)">10</mat-option>
                    <mat-option [value]="Number(11)">11</mat-option>
                    <mat-option [value]="Number(12)">12</mat-option>
                    <mat-option [value]="Number(13)">13</mat-option>
                    <mat-option [value]="Number(14)">14</mat-option>
                    <mat-option [value]=15>15</mat-option>
                    <mat-option [value]=16>16</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 70px"  color="accent">
                  <mat-label>Dedyk.</mat-label>
                  <mat-select [(ngModel)]="getActiveBuild().dedicatedEpicModLevel" (selectionChange)="calculateModSummary()">
                    <mat-option [value]="Number(1)">1</mat-option>
                    <mat-option [value]="Number(2)">2</mat-option>
                    <mat-option [value]="Number(3)">3</mat-option>
                    <mat-option [value]="Number(4)">4</mat-option>
                    <mat-option [value]="Number(5)">5</mat-option>
                    <mat-option [value]="Number(6)">6</mat-option>
                    <mat-option [value]="Number(7)">7</mat-option>
                    <mat-option [value]="Number(8)">8</mat-option>
                    <mat-option [value]="Number(9)">9</mat-option>
                    <mat-option [value]="Number(10)">10</mat-option>
                    <mat-option [value]="Number(11)">11</mat-option>
                    <mat-option [value]="Number(12)">12</mat-option>
                    <mat-option [value]="Number(13)">13</mat-option>
                    <mat-option [value]="Number(14)">14</mat-option>
                    <mat-option [value]="Number(15)">15</mat-option>
                    <mat-option [value]="Number(16)">16</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div *ngIf="eq.rank <= 12" fxLayout="column" fxLayoutAlign="center center"> <!--cdkDropList [cdkDropListData]="getDragDrifItemArray(eq.drifItem1, eq.drifItem2, eq.drifItem3, eq.slot)" (cdkDropListDropped)="drop($event)"-->
                <button *ngIf="!eq.drifItem1 && countUsedPower(eq) !== getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button class="emptySlot"
                        (click)="openDrifDialog('100ms', '100ms', eq, 1)">
                  [MOD 1]
                </button>
                <button *ngIf="!eq.drifItem1 && countUsedPower(eq) === getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button disabled
                        (click)="openDrifDialog('100ms', '100ms', eq, 1)">
                  [MOD 1]
                </button>
                <button *ngIf="eq.drifItem1" style="width: 70px; margin-bottom: 8px; padding: 0"
                        [matBadge]="eq.drifItem1.level" matBadgeSize="small" matBadgeColor="primary"
                        [class]="getButtonColorClassByDrifCategory(eq.drifItem1)" mat-flat-button color="warn"
                        (click)="openDrifDialog('100ms', '100ms', eq, 1)">
                  {{eq.drifItem1.shortName}} T{{eq.drifItem1.tier}}
                </button>

                <button *ngIf="(eq.rank > 3 || eq.ornaments >= 7) && !eq.drifItem2 && countUsedPower(eq) !== getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button class="emptySlot"
                        (click)="openDrifDialog('100ms', '100ms', eq, 2)">
                  [MOD 2]
                </button>
                <button *ngIf="(eq.rank > 3 || eq.ornaments >= 7) && !eq.drifItem2 && countUsedPower(eq) === getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button disabled
                        (click)="openDrifDialog('100ms', '100ms', eq, 2)">
                  [MOD 2]
                </button>
                <button *ngIf="(eq.rank > 3 || eq.ornaments >= 7) && eq.drifItem2" style="width: 70px; margin-bottom: 8px; padding: 0"
                        [matBadge]="eq.drifItem2.level" matBadgeSize="small" matBadgeColor="primary"
                        [class]="getButtonColorClassByDrifCategory(eq.drifItem2)" mat-flat-button color="warn"
                        (click)="openDrifDialog('100ms', '100ms', eq, 2)">
                  {{eq.drifItem2.shortName}} T{{eq.drifItem2.tier}}
                </button>

                <button *ngIf="eq.rank > 9 && !eq.drifItem3 && countUsedPower(eq) !== getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button class="emptySlot"
                        (click)="openDrifDialog('100ms', '100ms', eq, 3)">
                  [MOD 3]
                </button>
                <button *ngIf="eq.rank > 9 && !eq.drifItem3 && countUsedPower(eq) === getPowerCapacityByRank(eq)"
                        style="width: 70px; margin-bottom: 8px; padding: 0" mat-flat-button disabled
                        (click)="openDrifDialog('100ms', '100ms', eq, 3)">
                  [MOD 3]
                </button>
                <button *ngIf="eq.rank > 9 && eq.drifItem3" style="width: 70px; margin-bottom: 8px; padding: 0"
                        [matBadge]="eq.drifItem3.level" matBadgeSize="small" matBadgeColor="primary"
                        [class]="getButtonColorClassByDrifCategory(eq.drifItem3)" mat-flat-button color="warn"
                        (click)="openDrifDialog('100ms', '100ms', eq, 3)">
                  {{eq.drifItem3.shortName}} T{{eq.drifItem3.tier}}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center">
          <ul>
            <li *ngFor="let mod of getModSummaryByCategory(modSummary, 'DAMAGE')"
                class="damageDrifText"><div (mouseenter)="illuminateHoovered(mod)" (mouseleave)="clearIlluminated()" [innerHTML]="prepareModSummaryRow(mod)"></div></li>
            <li *ngFor="let mod of getModSummaryByCategory(modSummary, 'SPECIAL')"
                class="specialDrifText"><div (mouseenter)="illuminateHoovered(mod)" (mouseleave)="clearIlluminated()" [innerHTML]="prepareModSummaryRow(mod)"></div></li>
            <li *ngFor="let mod of getModSummaryByCategory(modSummary, 'DEFENCE')"
                class="defenceDrifText"><div (mouseenter)="illuminateHoovered(mod)" (mouseleave)="clearIlluminated()" [innerHTML]="prepareModSummaryRow(mod)"></div></li>
            <li *ngFor="let mod of getModSummaryByCategory(modSummary, 'ACCURACY')"
                class="accuracyDrifText"><div (mouseenter)="illuminateHoovered(mod)" (mouseleave)="clearIlluminated()" [innerHTML]="prepareModSummaryRow(mod)"></div></li>
            <li *ngFor="let mod of getModSummaryByCategory(modSummary, 'REDUCTION')"
                class="reductionDrifText"><div (mouseenter)="illuminateHoovered(mod)" (mouseleave)="clearIlluminated()" [innerHTML]="prepareModSummaryRow(mod)"></div></li>
          </ul>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
          <button  mat-flat-button color="warn"
                  (click)="resetBuild(activeBuild)">
            ZRESETUJ BUILD
          </button>
          <button  mat-flat-button color="accent"
                   (click)="maximiseDrifLevels()">
            WYMAKSUJ LVLE DRIFÓW
          </button>
          <mat-form-field appearance="fill" color="accent" class="cloneForm">
            <mat-label>Sklonuj build</mat-label>
            <mat-select [(ngModel)]="buildToClone" (selectionChange)="cloneBuild()">
              <mat-option value="temp">temp</mat-option>
              <mat-option value="build 1">build 1</mat-option>
              <mat-option value="build 2">build 2</mat-option>
              <mat-option value="build 3">build 3</mat-option>
              <mat-option value="build 4">build 4</mat-option>
              <mat-option value="build 5">build 5</mat-option>
              <mat-option value="build 6">build 6</mat-option>
              <mat-option value="build 7">build 7</mat-option>
              <mat-option value="build 8">build 8</mat-option>
              <mat-option value="build 9">build 9</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <h2 style="color: red; padding-top: 10px">KALKULATOR UWZGLĘDNIA JUŻ ZMIANY ZWIĄZANE Z REFORMĄ DRIFÓW - ZGŁASZAJ WSZELKIE BŁĘDY!</h2>
      </div>
    </mat-card-content>
  </mat-card>

</div>


