<div class="content-card">
  <div *ngIf="singlePost" class="mat-elevation-z6 make-space">
      <div class="presentation" fxLayoutAlign="center center">
        <img *ngIf="singlePost.image" ngSrc="API" alt="post image" fxLayoutAlign="center center">
        <img *ngIf="!singlePost.image" ngSrc="./assets/post/post-logo.png" priority alt="post image" height="120"
             width="120">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">

        <div fxFlex="70">
          <h1>{{singlePost.title}}</h1>
        </div>

        <div>
          <div fxLayoutAlign="end center">
            <strong style="margin-right: 4px">{{singlePost.author.nickname}}</strong> {{singlePost.creationDate | date: "dd.MM.YYYY HH:mm" : "CET"}}
          </div>
          <div *ngIf="singlePost.lastUpdateDate">
            Aktualizacja: {{singlePost.lastUpdateDate | date: "dd.MM.YYYY HH:mm" : "CET"}}
          </div>
          <div fxLayoutAlign="end center">
            <mat-icon style="margin-right: 6px">remove_red_eye</mat-icon> {{singlePost.views}}
          </div>
        </div>
      </div>
  </div>
  <mat-divider style="margin: 8px;"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="make-space" *ngIf="singlePost">
    <div style="padding: 4px">
      <div fxLayoutAlign="center center">
        <button *ngIf="singlePost.previousPostSlug" mat-flat-button color="warn" style="padding: 0 6px" (click)="changePost(singlePost.previousPostSlug)"> Poprzedni post</button>
        <button *ngIf="!singlePost.previousPostSlug" mat-flat-button disabled style="padding: 0 6px"> To ostatni post</button>
      </div>
    </div>
    <div style="padding: 4px" *ngIf="singlePost.nextPostSlug">
      <div fxLayoutAlign="center center">
        <button mat-flat-button color="accent" style="padding: 0 6px" (click)="changePost(singlePost.nextPostSlug)"> Następny post </button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z6 make-space">
    <div *ngIf="singlePost">

      <div [innerHTML]="singlePost.content | noSanitize" class="post-content"></div>

    </div>
    <div *ngIf="error" fxLayoutAlign="center center">

      POST NIEDOSTĘPNY

    </div>
    <div *ngIf="!singlePost && !error" fxLayoutAlign="center center">

      <mat-progress-spinner
        color="accent"
        mode="indeterminate"
        value="1">
      </mat-progress-spinner>

    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="make-space" *ngIf="singlePost">
    <div style="padding: 4px">
      <div fxLayoutAlign="center center">
        <button *ngIf="singlePost.previousPostSlug" mat-flat-button color="warn" style="padding: 0 6px" (click)="changePost(singlePost.previousPostSlug)"> Poprzedni post</button>
        <button *ngIf="!singlePost.previousPostSlug" mat-flat-button disabled style="padding: 0 6px"> To ostatni post</button>
      </div>
    </div>
    <div style="padding: 4px" *ngIf="singlePost.nextPostSlug">
      <div fxLayoutAlign="center center">
        <button mat-flat-button color="accent" style="padding: 0 6px" (click)="changePost(singlePost.nextPostSlug)"> Następny post </button>
      </div>
    </div>
  </div>
</div>

