.content-card {
  padding-bottom: 20px;
}

mat-card-content {

}

.make-space {
  margin-bottom: 2px;
}

.presentation-card {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  justify-items: center;
}

.presentation {
  max-height: 220px;
}

h1 {
  font-weight: bold;
  margin-bottom: 0;
}

.post-content {
  font-size: 15px;
}
