<div
     fxLayout="row" fxLayoutAlign="center"
     cdkDropList
     cdkDropListOrientation="horizontal"
     [cdkDropListData]="toCompare"
     (cdkDropListDropped)="drop($event)">

  <div *ngFor="let rar of toCompare" cdkDrag cdkDragLockAxis="x" class="example-box" fxLayoutAlign="center">
    <div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div style="height: 30px">
          <img ngSrc="./assets/rars/addons/star_brown.png" alt="{{rar.name}}" height="23" width="23">
        </div>
        <h3 class="classic-rar-name">"{{rar.name}}"</h3>
        <div style="height: 80px" fxLayout="row" fxLayoutAlign="center center">
          <div>
            <img ngSrc="./assets/rars/{{rar.name.toLowerCase().replaceAll(' ', '_')}}.png" alt="{{rar.name}}" height="auto" width="auto">
          </div>
          <div fxLayout="column">
            <img ngSrc="./assets/rars/addons/driff_slot.png" alt="{{rar.name}}" height="24" width="24">
            <img *ngIf="rar.rank >= 4" ngSrc="./assets/rars/addons/driff_slot.png" alt="{{rar.name}}" height="24" width="24">
            <img *ngIf="rar.rank >= 10" ngSrc="./assets/rars/addons/driff_slot.png" alt="{{rar.name}}" height="24" width="24">
          </div>
        </div>
      </div>
      <ul>
        <li fxLayout="row">Typ: {{ItemType[rar.type]}}<div [innerHTML]="getCompare('type', rar) | noSanitize"></div></li>
        <li fxLayout="row">Waga: {{rar.weight}} <div [innerHTML]="getCompare('weight', rar) | noSanitize"></div></li>
        <li fxLayout="row">Ranga: {{convertArabianToRomanNumber(rar.rank)}}<div [innerHTML]="getCompare('rank', rar) | noSanitize"></div></li>
        <li fxLayout="row">Pojemność: {{rar.capacity}}<div [innerHTML]="getCompare('capacity', rar) | noSanitize"></div></li>
        <li fxLayout="row">Wartość: {{rar.value.toLocaleString()}}<div [innerHTML]="getCompare('value', rar) | noSanitize"></div></li>
        <li fxLayout="row" >Wymagany poziom: {{rar.requiredLevel}}<div [innerHTML]="getCompare('requiredLevel', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.strength">Wymagana siła: {{rar.requiredStrength}}<div [innerHTML]="getCompare('requiredStrength', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.requiredDexterity">Wymagana zręczność: {{rar.requiredDexterity}}<div [innerHTML]="getCompare('requiredDexterity', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.requiredPower">Wymagana moc: {{rar.requiredPower}}<div [innerHTML]="getCompare('requiredPower', rar) | noSanitize"></div></li>
        <li style="padding-bottom: 10px" fxLayout="row" [class.gray]="!rar.requiredKnowledge">Wymagana wiedza: {{rar.requiredKnowledge}}<div [innerHTML]="getCompare('requiredKnowledge', rar) | noSanitize"></div></li>

        <li fxLayout="row" [class.gray]="!rar.damage">Obrażenia: {{getValueString(rar.damage)}}<div [innerHTML]="getCompare('damage', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.damageType">Typ obrażeń: {{getDamageType(rar.damageType)}}<div [innerHTML]="getCompare('damageType', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.strength" [class.below-zero]="getIsBelowZero(rar.strength)">Siła: {{getValueString(rar.strength)}}<div [innerHTML]="getCompare('strength', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.dexterity" [class.below-zero]="getIsBelowZero(rar.dexterity)">Zręczność: {{getValueString(rar.dexterity)}}<div [innerHTML]="getCompare('dexterity', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.power"  [class.below-zero]="getIsBelowZero(rar.power)">Moc: {{getValueString(rar.power)}}<div [innerHTML]="getCompare('power', rar) | noSanitize"></div></li>
        <!--<li style="color: gray" fxLayout="row" *ngIf="toCompare[0].power && !rar.power">Moc: 0<div [innerHTML]="getCompare('power', rar) | noSanitize"></div></li>-->
        <li fxLayout="row" [class.gray]="!rar.knowledge" [class.below-zero]="getIsBelowZero(rar.knowledge)">Wiedza: {{getValueString(rar.knowledge)}}<div [innerHTML]="getCompare('knowledge', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.health" [class.below-zero]="getIsBelowZero(rar.health)">PŻ: {{getValueString(rar.health)}}<div [innerHTML]="getCompare('health', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.mana" [class.below-zero]="getIsBelowZero(rar.mana)">Mana: {{getValueString(rar.mana)}}<div [innerHTML]="getCompare('mana', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.stamina" [class.below-zero]="getIsBelowZero(rar.stamina)">Kondycja: {{getValueString(rar.stamina)}}<div [innerHTML]="getCompare('stamina', rar) | noSanitize"></div><div class="sum-value">{{getStatSum(rar)}}</div></li>
        <mat-divider></mat-divider>
        <li fxLayout="row" [class.gray]="!rar.armorSlashing">Pancerz sieczne: {{getValueString(rar.armorSlashing)}}<div [innerHTML]="getCompare('armorSlashing', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.armorCrushing">Pancerz obuchowe: {{getValueString(rar.armorCrushing)}}<div [innerHTML]="getCompare('armorCrushing', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.armorPiercing">Pancerz kłute: {{getValueString(rar.armorPiercing)}}<div [innerHTML]="getCompare('armorPiercing', rar) | noSanitize"></div><div class="sum-value">{{getArmorSum(rar)}}</div></li>
        <mat-divider></mat-divider>
        <li fxLayout="row" [class.gray]="!rar.mentalResistance">Odporność uroki: {{getValueString(rar.mentalResistance)}}<div [innerHTML]="getCompare('mentalResistance', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.fireResistance">Odporność ogień: {{getValueString(rar.fireResistance)}}<div [innerHTML]="getCompare('fireResistance', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.energyResistance">Odporność energia: {{getValueString(rar.energyResistance)}}<div [innerHTML]="getCompare('energyResistance', rar) | noSanitize"></div></li>
        <li fxLayout="row" [class.gray]="!rar.coldResistance">Odporność zimno: {{getValueString(rar.coldResistance)}}<div [innerHTML]="getCompare('coldResistance', rar) | noSanitize"></div><div class="sum-value">{{getResistanceSum(rar)}}</div></li>
        <mat-divider></mat-divider>
        <!-- <li style="color: gray" fxLayout="row" *ngIf="toCompare[0].coldResistance && !rar.coldResistance">Odporność zimno: 0<div [innerHTML]="getCompare('coldResistance', rar) | noSanitize"></div></li>-->
      </ul>
    </div>
  </div>
</div>


<!--
<ul>
  <li fxLayout="row" *ngIf="rar.type">Typ: {{ItemType[rar.type]}}<div [innerHTML]="getCompare('type', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.weight">Waga: {{rar.weight}} <div [innerHTML]="getCompare('weight', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.rank">Ranga: {{convertArabianToRomanNumber(rar.rank)}}<div [innerHTML]="getCompare('rank', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.capacity">Pojemność: {{rar.capacity}}<div [innerHTML]="getCompare('capacity', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.value">Wartość: {{rar.value.toLocaleString()}}<div [innerHTML]="getCompare('value', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.requiredLevel">Wymagany poziom: {{rar.requiredLevel}}<div [innerHTML]="getCompare('requiredLevel', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.requiredStrength">Wymagana siła: {{rar.requiredStrength}}<div [innerHTML]="getCompare('requiredStrength', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.requiredDexterity">Wymagana zręczność: {{rar.requiredDexterity}}<div [innerHTML]="getCompare('requiredDexterity', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.requiredPower">Wymagana moc: {{rar.requiredPower}}<div [innerHTML]="getCompare('requiredPower', rar) | noSanitize"></div></li>
  <li style="padding-bottom: 10px" fxLayout="row" *ngIf="rar.requiredKnowledge">Wymagana wiedza: {{rar.requiredKnowledge}}<div [innerHTML]="getCompare('requiredKnowledge', rar) | noSanitize"></div></li>

  <li fxLayout="row" *ngIf="rar.damage">Obrażenia: {{rar.damage}}<div [innerHTML]="getCompare('damage', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.damageType">Typ obrażeń: {{DamageType[rar.damageType]}}<div [innerHTML]="getCompare('damageType', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.strength" [class.below-zero]="rar.strength < 0">Siła: {{getValueString(rar.strength)}}<div [innerHTML]="getCompare('strength', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.dexterity" [class.below-zero]="rar.dexterity < 0">Zręczność: {{getValueString(rar.dexterity)}}<div [innerHTML]="getCompare('dexterity', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.power" [class.below-zero]="rar.power < 0">Moc: {{getValueString(rar.power)}}<div [innerHTML]="getCompare('power', rar) | noSanitize"></div></li>
  <li style="color: gray" fxLayout="row" *ngIf="toCompare[0].power && !rar.power">Moc: 0<div [innerHTML]="getCompare('power', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.knowledge" [class.below-zero]="rar.knowledge < 0">Wiedza: {{getValueString(rar.knowledge)}}<div [innerHTML]="getCompare('knowledge', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.health" [class.below-zero]="rar.health < 0">PŻ: {{getValueString(rar.health)}}<div [innerHTML]="getCompare('health', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.mana" [class.below-zero]="rar.mana < 0">Mana: {{getValueString(rar.mana)}}<div [innerHTML]="getCompare('mana', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.stamina" [class.below-zero]="rar.stamina < 0">Kondycja: {{getValueString(rar.stamina)}}<div [innerHTML]="getCompare('stamina', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.armorSlashing">Pancerz sieczne: +{{rar.armorSlashing}}<div [innerHTML]="getCompare('armorSlashing', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.armorCrushing">Pancerz obuchowe: +{{rar.armorCrushing}}<div [innerHTML]="getCompare('armorCrushing', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.armorPiercing">Pancerz kłute: +{{rar.armorPiercing}}<div [innerHTML]="getCompare('armorPiercing', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.mentalResistance">Odporność uroki: +{{rar.mentalResistance}}<div [innerHTML]="getCompare('mentalResistance', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.fireResistance">Odporność ogień: +{{rar.fireResistance}}<div [innerHTML]="getCompare('fireResistance', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.energyResistance">Odporność energia: +{{rar.energyResistance}}<div [innerHTML]="getCompare('energyResistance', rar) | noSanitize"></div></li>
  <li fxLayout="row" *ngIf="rar.coldResistance">Odporność zimno: +{{rar.coldResistance}}<div [innerHTML]="getCompare('coldResistance', rar) | noSanitize"></div></li>
  <li style="color: gray" fxLayout="row" *ngIf="toCompare[0].coldResistance && !rar.coldResistance">Odporność zimno: 0<div [innerHTML]="getCompare('coldResistance', rar) | noSanitize"></div></li>
</ul>-->
