<div fxLayout="column" fxFlexAlign="center center">
  <div fxFlex class="content-card">
    <mat-card class="mat-elevation-z6">
      <mat-card-content>
        <div class="custom-card-content">
          <h1>BrokenHelper - Discord bot</h1>

          <h3>Asystent do daily questów</h3>
          <br>

          <p><strong>BrokenHelper</strong> to discordowy bot mający za zadanie ułatwienie Wam pilnowania cooldown&oacute;w wszelakich daily quest&oacute;w w grze jak np. zakrzuone grymuary, krew jeti czy odbieranie rak&oacute;w wspinaczkowych.</p>

          <p><strong>Zaprosić go na swojego discorda możesz tym linkiem:</strong> &nbsp;<a href="https://bit.ly/brokenhelper" rel="noreferrer noopener" tabindex="0" target="_blank" title="https://bit.ly/brokenhelper">https://bit.ly/brokenhelper</a></p>

          <p>Aby bot zaczął działac wystarczy na stworzonym dla niego kanale wpisać komendę <strong>/dailynotifier</strong></p>

          <h2>Jak go używać:</h2>

          <ul>
            <li>Odbierasz daily quest w grze</li>
            <li>Klikasz z listy kt&oacute;re dq odebrałeś</li>
            <li>Bot daje znać na PW 15 min przed, że masz dq zaraz do odebrania</li>
            <li>Bot daje znać, że masz już dq do odebrania</li>
            <li>Przycisk <strong>AKTYWNE</strong>&nbsp;wysyła Ci info jakie cooldowny masz aktywne i ile jeszcze musisz czekać</li>
            <li>W razie potrzeby masz możliwość edycji czasu daily questa bądź usunięcia go w menu edycji</li>
          </ul>

          <br>

          <p><img alt="" src="https://i.imgur.com/F22b03K.png" style="height:220px; width:720px" /></p>

          <p><img alt="" src="https://i.imgur.com/JZCmXlO.png" style="height:423px; width:720px" /></p>

          <p><img alt="" src="https://i.imgur.com/zwK32EA.png" style="height:320px; width:720px" /></p>

          <p><img alt="" src="https://i.imgur.com/8yQ89Tp.png" style="height:360px; width:720px" /></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
