table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center !important;
}

.comparator-button {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}
