table {
  width: 100%;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

.mat-column-entry {
  width: 30%;
}

.mat-column-description {
  width: 70%;
  white-space: pre-wrap;
}

td, th {
  font-size: 15px;
  padding: 8px 0 8px;
}

.mat-cell {
  padding: 6px 6px;
}
