table {
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td, th {
  padding: 8px 8px 8px;
}

.mat-column-Ranga {
  width: 30px;
  border-right: 1px solid currentColor;
}

.mat-column-Esencje {
  flex: none;
  width: 50px;
}
.mat-column-Esencje-z-inhi {
  flex: none;
  width: 50px;
  border-right: 1px solid currentColor;
}
.mat-column-Od-amki {
  flex: none;
  width: 55px;
}
.mat-column-Od-amki-z-inhi {
  flex: none;
  width: 45px;
  border-right: 1px solid currentColor;
}
.mat-column-Od-amki-syng {
  flex: none;
  width: 55px;
}
.mat-column-Od-amki-syng-z-inhi {
  flex: none;
  width: 45px;
  border-right: 1px solid currentColor;
}
.mat-column-Pr-g-eski-bez-inhi {
  border-right: 1px solid currentColor;
}
.mat-column-Pr-g-od-amki-bez-inhi {
  border-right: 1px solid currentColor;
}

#syngs tr.mat-row {
  height: 35px !important;
}

#son {
  position: absolute;
  //left: 1000px;
  right: 100%;
  top: -22px;
}

#son table {
  width: 160px;
}

.mat-column-lvl {
  flex: none;
  width: 65px;
}
