@import "src/mixins";

.container {
  @include flex-container(row, no-wrap, center);
  gap: 30px;
}

.loginForm, .registerForm {
  @include flex(column);
  width: 300px;
  margin: 0 auto;
}

.lostPassword {
  margin-top: 7px;
}

.error {
  padding-top: 7px;
  color: red;
}

.success {
  padding-top: 7px;
  color: limegreen;
}
