.damageDrif {
  background-color: orangered;
}

.specialDrif {
  background-color: green;
}

.accuracyDrif {
  background-color: orange;
}

.defenceDrif {
  background-color: mediumpurple;
}

.reductionDrif {
  background-color: dodgerblue;
}

.damageDrifText {
  color: orangered;
  text-shadow: 1px 1px 2px black;
}

.specialDrifText {
  color: green;
  text-shadow: 1px 1px 2px black;
}

.accuracyDrifText {
  color: orange;
  text-shadow: 1px 1px 2px black;
}

.defenceDrifText {
  color: mediumpurple;
  text-shadow: 1px 1px 2px black;
}

.reductionDrifText {
  color: dodgerblue;
  text-shadow: 1px 1px 2px black;
}
