<div fxLayout="column" fxLayoutAlign="center center">
  <ul>
    <li *ngFor="let mod of getModSummaryByCategory(modSummary, DrifCategory.DAMAGE)"
        class="damageDrifText"><div [innerHTML]="prepareModSummaryRow(mod)"></div></li>
    <li *ngFor="let mod of getModSummaryByCategory(modSummary, DrifCategory.SPECIAL)"
        class="specialDrifText"><div [innerHTML]="prepareModSummaryRow(mod)"></div></li>
    <li *ngFor="let mod of getModSummaryByCategory(modSummary, DrifCategory.DEFENCE)"
        class="defenceDrifText"><div [innerHTML]="prepareModSummaryRow(mod)"></div></li>
    <li *ngFor="let mod of getModSummaryByCategory(modSummary, DrifCategory.ACCURACY)"
        class="accuracyDrifText"><div [innerHTML]="prepareModSummaryRow(mod)"></div></li>
    <li *ngFor="let mod of getModSummaryByCategory(modSummary, DrifCategory.REDUCTION)"
        class="reductionDrifText"><div [innerHTML]="prepareModSummaryRow(mod)"></div></li>
  </ul>
</div>
