<!--<div class="content">
  <mat-card class="mat-elevation-z6">
    <mat-card-content>
      <div *ngIf="!posts" fxLayout="row" fxLayoutAlign="center center">
        <h2>Wystąpił błąd</h2>
      </div>
      <div *ngIf="posts" fxLayout="column" fxLayoutAlign="center center">
        <div *ngFor="let post of posts">
          <h1>{{post.title}}</h1>
          <h3>{{post.creationDate}}  by {{post.author?.nickname}}</h3>
          <div [innerHTML]="post.content"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>-->

<div class="content">
  <mat-card class="mat-elevation-z6">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <h2>Strona główna w przygotowaniu - wszelkie dostępne strony znajdziesz w panelu bocznym po lewej!</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>
