<div class="background">
  <div mat-dialog-title fxLayout="row">
    <div fxFlex="30" fxLayoutAlign="center center">
      <h1>Wybierz Drif i jego wielkość [{{ leftPower }}]:</h1>
    </div>
    <div fxFlex="20" fxLayoutAlign="center center" fxLayoutGap="3">
      <mat-form-field color="accent">
        <mat-label>Wybierz poziom drifa</mat-label>
        <mat-select [(ngModel)]="drifLevel">
          <mat-option [value]="Number(1)">1</mat-option>
          <mat-option [value]="Number(2)">2</mat-option>
          <mat-option [value]="Number(3)">3</mat-option>
          <mat-option [value]="Number(4)">4</mat-option>
          <mat-option [value]="Number(5)">5</mat-option>
          <mat-option [value]="Number(6)">6 MAX SUB</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(7)">7</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(8)">8</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(9)">9</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(10)">10</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(11)">11 MAX BI</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(12)">12</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(13)">13</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(14)">14</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(15)">15</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(16)">16 MAX MAGNI</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(17)">17</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(18)">18</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(19)">19</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(20)">20</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(21)">21</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="50" fxLayoutAlign="center center" fxLayoutGap="3">
      <button mat-stroked-button (click)="removeMod()" color="warn">Usuń mod</button>
      <button *ngIf="drifTier == 1" mat-stroked-button (click)="setTier(1)" color="accent">Subdrif</button>
      <button *ngIf="drifTier != 1" mat-stroked-button (click)="setTier(1)">Subdrif</button>
      <button *ngIf="drifTier == 2" mat-stroked-button (click)="setTier(2)" color="accent">Bidrif</button>
      <button *ngIf="drifTier != 2 && rarRank >= 4" mat-stroked-button (click)="setTier(2)"> Bidrif</button>
      <button *ngIf="drifTier != 2 && rarRank < 4" mat-stroked-button disabled> Bidrif</button>
      <button *ngIf="drifTier == 3" mat-stroked-button (click)="setTier(3)" color="accent">Magnidrif</button>
      <button *ngIf="drifTier != 3 && rarRank >= 7" mat-stroked-button (click)="setTier(3)">Magnidrif</button>
      <button *ngIf="drifTier != 3 && rarRank < 7" mat-stroked-button disabled>Magnidrif</button>
      <button *ngIf="drifTier == 4" mat-stroked-button (click)="setTier(4)" color="accent">Arcydrif</button>
      <button *ngIf="drifTier != 4 && rarRank >= 10" mat-stroked-button (click)="setTier(4)">Arcydrif</button>
      <button *ngIf="drifTier != 4 && rarRank < 10" mat-stroked-button disabled>Arcydrif</button>
    </div>
  </div>
  <br>
  <div mat-dialog-content>
    <h2>OBRAŻEŃ</h2>
    <div class="container">
      <div *ngFor="let drif of getDamage()">
        <button *ngIf="
       (drif.psychoMod === PsychoMod.EXTRA_COLD_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_ENERGY_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_FIRE_DAMAGE) &&
       itemSlot === InventorySlot.WEAPON &&
       getDrifPower(drif.startPower) <= leftPower"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                mat-raised-button color="primary" class="damageDrif" (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="
       (drif.psychoMod === PsychoMod.EXTRA_COLD_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_ENERGY_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_FIRE_DAMAGE) &&
       itemSlot === InventorySlot.WEAPON  &&
       getDrifPower(drif.startPower) > leftPower"
                mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="
       (drif.psychoMod === PsychoMod.EXTRA_COLD_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_ENERGY_DAMAGE ||
       drif.psychoMod === PsychoMod.EXTRA_FIRE_DAMAGE) &&
       itemSlot !== InventorySlot.WEAPON "
                mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="
      (drif.psychoMod !== PsychoMod.EXTRA_COLD_DAMAGE &&
       drif.psychoMod !== PsychoMod.EXTRA_ENERGY_DAMAGE &&
       drif.psychoMod !== PsychoMod.EXTRA_FIRE_DAMAGE) &&
       getDrifPower(drif.startPower) <= leftPower"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                mat-raised-button color="primary" class="damageDrif" (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="
       (drif.psychoMod !== PsychoMod.EXTRA_COLD_DAMAGE &&
       drif.psychoMod !== PsychoMod.EXTRA_ENERGY_DAMAGE &&
       drif.psychoMod !== PsychoMod.EXTRA_FIRE_DAMAGE) &&
       getDrifPower(drif.startPower) > leftPower" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
      </div>
    </div>
    <h2>SPECJALNY</h2>
    <div class="container">
      <div *ngFor="let drif of getSpecial()">
        <button *ngIf="drif.psychoMod === PsychoMod.MANA_DRAIN &&
                getDrifPower(drif.startPower) <= leftPower &&
                itemSlot === InventorySlot.WEAPON"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                mat-raised-button color="primary" class="specialDrif"
                (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="drif.psychoMod === PsychoMod.MANA_DRAIN &&
                (getDrifPower(drif.startPower) > leftPower ||
                itemSlot !== InventorySlot.WEAPON)" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="drif.psychoMod !== PsychoMod.MANA_DRAIN &&
                getDrifPower(drif.startPower) <= leftPower" mat-raised-button color="primary" class="specialDrif"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="drif.psychoMod !== PsychoMod.MANA_DRAIN &&
                getDrifPower(drif.startPower) > leftPower" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
      </div>
    </div>
    <h2>CELNOŚCI</h2>
    <div class="container">
      <div *ngFor="let drif of getAccuracy()">
        <button *ngIf="getDrifPower(drif.startPower) <= leftPower" mat-raised-button color="primary"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                class="accuracyDrif"
                (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="getDrifPower(drif.startPower) > leftPower" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
      </div>
    </div>
    <h2>OBRONY</h2>
    <div class="container">
      <div *ngFor="let drif of getDefence()">
        <button *ngIf="getDrifPower(drif.startPower) <= leftPower" mat-raised-button color="primary" class="defenceDrif"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="getDrifPower(drif.startPower) > leftPower" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
      </div>
    </div>
    <h2>REDUKCJI</h2>
    <div class="container">
      <div *ngFor="let drif of getReduction()">
        <button *ngIf="getDrifPower(drif.startPower) <= leftPower" mat-raised-button color="primary"
                [class.for-removal]="drif.forRemoval"
                [matTooltip]="drif.forRemoval ? 'Ten Drif nie istnieje już w grze lub niedługo zostanie usunięty!' : ''"
                class="reductionDrif"
                (click)="close(drif)">
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
        <button *ngIf="getDrifPower(drif.startPower) > leftPower" mat-raised-button disabled>
          {{ 'PSYCHO_EFFECTS.' + drif.psychoMod | translate }} [{{ getDrifPower(drif.startPower) }}] {{ drif.shortName }}
        </button>
      </div>
    </div>
  </div>
</div>

