<div class="background">
  <div mat-dialog-title fxLayout="row" fxLayoutGap="3">
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center" style="font-size: 14px">
      <div>
        Max pojemność: {{ leftPower }}
      </div>
      <div>
        <button class="delete-drif" mat-raised-button (click)="removeMod()">Usuń Drif</button>
      </div>
    </div>
    <div fxFlex="40" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Poziom drifa</mat-label>
        <mat-select [(ngModel)]="drifLevel">
          <mat-option [value]="Number(1)">1</mat-option>
          <mat-option [value]="Number(2)">2</mat-option>
          <mat-option [value]="Number(3)">3</mat-option>
          <mat-option [value]="Number(4)">4</mat-option>
          <mat-option [value]="Number(5)">5</mat-option>
          <mat-option [value]="Number(6)">6 MAX SUB</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(7)">7</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(8)">8</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(9)">9</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(10)">10</mat-option>
          <mat-option *ngIf="drifTier >= 2" [value]="Number(11)">11 MAX BI</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(12)">12</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(13)">13</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(14)">14</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(15)">15</mat-option>
          <mat-option *ngIf="drifTier >= 3" [value]="Number(16)">16 MAX MAGNI</mat-option>
          <mat-divider></mat-divider>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(17)">17</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(18)">18</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(19)">19</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(20)">20</mat-option>
          <mat-option *ngIf="drifTier >= 4" [value]="Number(21)">21</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="30" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Tier Drifa</mat-label>
        <mat-select [(ngModel)]="drifTier">
          <mat-option [value]="1">Subdrif</mat-option>
          <mat-option [disabled]="rarRank < 4" [value]="2">Bidrif</mat-option>
          <mat-option [disabled]="rarRank < 7" [value]="3">Magnidrif</mat-option>
          <mat-option [disabled]="rarRank < 10" [value]="4">Arcydrif</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <br>
  <div mat-dialog-content>
    <h2>OBRAŻEŃ</h2>
    <div class="container">
      <div style="width: 100%" *ngFor="let drif of getDamage()">
        @if (((drif.psychoMod === PsychoMod.EXTRA_COLD_DAMAGE ||
            drif.psychoMod === PsychoMod.EXTRA_ENERGY_DAMAGE ||
            drif.psychoMod === PsychoMod.EXTRA_FIRE_DAMAGE) &&
          itemSlot === InventorySlot.WEAPON &&
          getDrifPower(drif.startPower) <= leftPower) ||
        ((drif.psychoMod !== PsychoMod.EXTRA_COLD_DAMAGE &&
            drif.psychoMod !== PsychoMod.EXTRA_ENERGY_DAMAGE &&
            drif.psychoMod !== PsychoMod.EXTRA_FIRE_DAMAGE) &&
          getDrifPower(drif.startPower) <= leftPower)) {
          <div class="active-interaction" fxFlex fxLayout="row" fxLayoutAlign="center center" (click)="close(drif)"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation">
                <div>
                  <img class="placeholder"
                       src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png"
                       width="60" height="60" alt="">
                  <img class="placeholder" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59" height="59"
                       alt="">
                </div>
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        } @else {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation"> <!--TODO: MISSING FOR REMOVAL-->
                <img class="placeholder inactive"
                     src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png" width="60"
                     height="60"
                     alt="">
                <img class="placeholder inactive" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59"
                     height="59" alt="">
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        }
      </div>
    </div>
    <h2>SPECJALNY</h2>
    <div class="container">
      <div style="width: 100%" *ngFor="let drif of getSpecial()">
        @if ((drif.psychoMod === PsychoMod.MANA_DRAIN &&
        getDrifPower(drif.startPower) <= leftPower &&
        itemSlot === InventorySlot.WEAPON) ||
        (drif.psychoMod !== PsychoMod.MANA_DRAIN &&
        getDrifPower(drif.startPower) <= leftPower)) {
          <div class="active-interaction" fxFlex fxLayout="row" fxLayoutAlign="center center" (click)="close(drif)"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation">
                <div>
                  <img class="placeholder"
                       src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png"
                       width="60" height="60" alt="">
                  <img class="placeholder" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59" height="59"
                       alt="">
                </div>
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start" [class.for-removal]="drif.forRemoval">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        } @else {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation"> <!--TODO: MISSING FOR REMOVAL-->
                <img class="placeholder inactive"
                     src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png" width="60"
                     height="60"
                     alt="">
                <img class="placeholder inactive" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59"
                     height="59" alt="">
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        }

      </div>
    </div>
    <h2>CELNOŚCI</h2>
    <div class="container">
      <div style="width: 100%" *ngFor="let drif of getAccuracy()">
        @if (getDrifPower(drif.startPower) <= leftPower) {
          <div class="active-interaction" fxFlex fxLayout="row" fxLayoutAlign="center center" (click)="close(drif)"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation">
                <div>
                  <img class="placeholder"
                       src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png"
                       width="60" height="60" alt="">
                  <img class="placeholder" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59" height="59"
                       alt="">
                </div>
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        } @else {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation"> <!--TODO: MISSING FOR REMOVAL-->
                <img class="placeholder inactive"
                     src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png" width="60"
                     height="60"
                     alt="">
                <img class="placeholder inactive" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59"
                     height="59" alt="">
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        }
      </div>
    </div>
    <h2>OBRONY</h2>
    <div class="container">
      <div style="width: 100%" *ngFor="let drif of getDefence()">
        @if (getDrifPower(drif.startPower) <= leftPower) {
          <div class="active-interaction" fxFlex fxLayout="row" fxLayoutAlign="center center" (click)="close(drif)"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation">
                <div>
                  <img class="placeholder"
                       src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png"
                       width="60" height="60" alt="">
                  <img class="placeholder" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59" height="59"
                       alt="">
                </div>
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        } @else {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation"> <!--TODO: MISSING FOR REMOVAL-->
                <img class="placeholder inactive"
                     src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png" width="60"
                     height="60"
                     alt="">
                <img class="placeholder inactive" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59"
                     height="59" alt="">
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        }
      </div>
    </div>
    <h2>REDUKCJI</h2>
    <div class="container">
      <div style="width: 100%" *ngFor="let drif of getReduction()">
        @if (getDrifPower(drif.startPower) <= leftPower) {
          <div class="active-interaction" fxFlex fxLayout="row" fxLayoutAlign="center center" (click)="close(drif)"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation">
                <div>
                  <img class="placeholder"
                       src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png"
                       width="60" height="60" alt="">
                  <img class="placeholder" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59" height="59"
                       alt="">
                </div>
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        } @else {
          <div fxFlex fxLayout="row" fxLayoutAlign="center center"
               [matTooltip]="'PSYCHO_EFFECTS.' + drif.psychoMod | translate"
               matTooltipShowDelay="400">
            <div fxFlex="50" class="drif-presentation">
              <div class="drif-presentation"> <!--TODO: MISSING FOR REMOVAL-->
                <img class="placeholder inactive"
                     src="assets/drifs/drif_sizes/{{drif.category.toLowerCase()}}_{{tierName}}.png" width="60"
                     height="60"
                     alt="">
                <img class="placeholder inactive" src="assets/drifs/drif_types/{{drif.shortName}}.png" width="59"
                     height="59" alt="">
              </div>
            </div>
            <div style="font-weight: bold; margin-left: 5px" fxFlex="50" fxLayout="column"
                 fxLayoutAlign="start start">
              <span>
                {{ drif.shortName }}
              </span>
              <span>
                [{{ getDrifPower(drif.startPower) }}]
              </span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

