<div *ngIf="online" fxHide.lt-sm class="is-streaming" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3" (click)="redirectToStream()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="presentation-streamer-image">
      <img class="streamer-image" src="assets/social/galajus.jpg" alt="Galajus">
    </div >
    <div class="is-live-name">
      Galajus
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span class="big-red-circle">•</span>
    <span class="is-live">Streamuje!</span>
  </div>
</div>
<!--<div *ngIf="!online"></div>-->
