mat-list {
  padding: 0;
}

table {
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.standard-form {
  width: 100% ;
}

tr.mat-row {
  height: 35px;
}
