<h1 mat-dialog-title>O kalkulaotrze</h1>
<div mat-dialog-content>
  <p><strong>Najważniejsze informacje:</strong><br />
    - Podstawowe rzeczy działają, z najważniejszych błęd&oacute;w to brak limitowania umki ze względu na lvl</p>

  <p><strong>Plany na najbliższe dni/tygodnie/miesiące:</strong><br />
    - dodanie rozdawania stat do kalkulatora<br />
    - zaprojektowanie całej brokenpedii na nowo - wygląd, karty, strony, poradniki etc.<br />
    - system kont tworzonych przez połączenie z discordem<br />
    - Nowe rzeczy do kalkulatora:<br />
    * opisy umek<br />
    * zapisywanie buildu<br />
    * nazywanie buildu<br />
    * dodawanie opisu<br />
    * przeglądanie stworzonych build&oacute;w (swoich i innych)<br />
    * ustawianie buildu na publiczny/prywatny<br />
    * system oceniania build&oacute;w<br />
    * ranking build&oacute;w<br />
    * ubieranie postaci - eq<br />
    - kalkulatory trafień, dmg itp.<br />
    - kreator taktyk<br />
    - wszystko inne co wymyślimy</p>

  <p><strong>Wasz udział:</strong> Bardzo przydadzą mi się wszelkie sugestie projektowe (wygląd, wygoda korzystania, ułożenie okienek i inne), pomysły na rozwinięcie każdego elementu, zgłaszanie błęd&oacute;w.</p>

  <h3><strong>KONTAKT: <a target="_blank" href="https://discord.com/invite/skWSKqe">discord.galajus.pl</a> & Galajus#8801</strong></h3>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="" cdkFocusInitial>Ok</button>
</div>
