<div class="content">
  <mat-card *ngIf="posts" class="mat-elevation-z6">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="post-container" [class.is-mobile]="mobileQuery.matches">
          <mat-card *ngFor="let post of posts" class="mat-elevation-z6 post-card">
            <div class="post-image-container" (mousedown)="sendToPostMouseDown($event, post.slug)" (click)="sendToPost(post.slug)">
              <img *ngIf="post.image" mat-card-image ngSrc="API" alt="post image">
              <img *ngIf="!post.image" mat-card-lg-image ngSrc="./assets/post/post-logo.png" priority alt="post image"
                   height="150" width="150">
            </div>
            <mat-card-header [routerLink]="post.slug" class="post-header" (mousedown)="sendToPostMouseDown($event, post.slug)" (click)="sendToPost(post.slug)">
              <mat-card-title>{{post.title}}</mat-card-title>
              <mat-card-subtitle>{{post.author?.nickname}} {{post.creationDate | date: "dd.MM.YYYY HH:mm" : "CET"}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content (mousedown)="sendToPostMouseDown($event, post.slug)" (click)="sendToPost(post.slug)">
              <p>
                {{post.description}}
              </p>
            </mat-card-content>
            <mat-card-actions class="post-actions">
              <button mat-stroked-button class="category-button" *ngFor="let category of post.categories" (auxclick)="sendToCategory(category.categorySlug)" (click)="sendToCategory(category.categorySlug)">{{category.categoryName}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
