@import "src/mixins";

.container {
  @include flex-direction(row);
  @include flex-position(center, center);
  gap: 6px;
}

.simpleFormatted {
  padding-bottom: 25px !important;
  justify-content: center;
}
