table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center !important;
}

.mat-row:nth-child(even){
  background-color: #646464;
}

.mat-row:nth-child(odd){
  background-color: #4b4b4b;
}
