@use '@angular/material' as mat;


:host {
  @include mat.list-overrides((
    list-item-label-text-weight: bold,
    list-item-supporting-text-weight: bold,
    list-item-trailing-supporting-text-weight: bold,
    list-item-one-line-container-height: 32px,
    active-indicator-shape: square,
    list-item-container-shape: square
  ));

  @include mat.expansion-overrides((
    container-background-color: #0c0f0f,
    header-collapsed-state-height: 32px,
    header-expanded-state-height: 32px,
    header-text-line-height: 14px,
    container-shape: square
  ));
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: inherit;
  height: 32px;
}

a.side-link {
  display: block;
}

mat-expansion-panel {
  margin-bottom: 2.5px;
}

.sub-list mat-list-item {
  margin-left: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-gal {
  height: 100% !important;
}

.sidenav {
  max-width: 300px;
  background-color: #0c0f0f;
  @include mat.sidenav-overrides((
    container-shape: square
  ));
}

.toolbar {
  background-color: #0c0f0f;
}

mat-sidenav-content {
  //background-color: #282727;
}

.soft-panel {
  background-color: transparent;
  box-shadow: none;
}

.sidebar-link {
  font-weight: bold !important;

}


mat-nav-list p {
  margin-bottom: 0;
}

.sidebar-icon {
  padding-right: 4px;
  font-size: 13px;
  height: 13px;
  width: 13px;
}

.logo {
  margin-top: 8px;
}

.love {
  color: red;
  font-size: 16px;
  height: 14px;
  width: 16px;
}

.own {
  font-size: 10px;
}

p .owner {
  font-size: 8px !important;
  font-weight: bold;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

mat-sidenav {
  //background-color: #212121;
  padding-right: 2px;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
  height: 100svh;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.news {
  text-align: center !important;
  align-items: center !important;
  align-content: center !important;
  align-self: center !important;
  height: 160px !important;
}

.sidebar {
  max-width: 300px;
  //overflow: hidden;
}

.relax {
  padding-top: 10px;
  width: auto;
  max-width: 300px;
  min-height: 650px;
  position: sticky;
  top: 0;

  /*background-color: green;
  border: 2px solid #4CAF50;*/
}

.leftRelax {
  margin-left: auto;
  text-align: end;
}

.relaxed {
  /*top: 20%;
  transform: translate(0, -20%);
  min-width: 320px;
  min-height: 650px;
  position: fixed !important;
  pointer-events: auto;*/
}

p.shadowed {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.65);
}

.suggestion-link {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;

  font-size: 16px !important;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 30s ease-out infinite;
  animation-delay: 3s;
}

@keyframes blur {
  0% {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 1px #fff,
    0px 0px 3px #fff,
    0px 0px 3px #fff,
    0px 6px 5px #0015fa,
    0px 6px 6px #0015fa,
    0px -6px 6px #0049ff,
    0px -6px 7px #0049ff,
    0px -6px 8px #0049ff,
    0px -6px 8px #008dff,
    0px -6px 9px #008dff;

  }
  0.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 9px 9px #881212,
    0px 9px 9px #881212,
    0px 9px 9px #881212;
  }
  2% {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 1px #fff,
    0px 0px 3px #fff,
    0px 0px 3px #fff,
    0px 6px 5px #0015fa,
    0px 6px 6px #0015fa,
    0px -6px 6px #0049ff,
    0px -6px 7px #0049ff,
    0px -6px 8px #0049ff,
    0px -6px 8px #008dff,
    0px -6px 9px #008dff;

  }
  2.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 7px 7px #881212,
    0px 7px 7px #881212,
    0px 8px 8px #881212;
  }
  4% {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 1px #fff,
    0px 0px 3px #fff,
    0px 0px 3px #fff,
    0px 6px 5px #0015fa,
    0px 6px 6px #0015fa,
    0px -6px 6px #0049ff,
    0px -6px 7px #0049ff,
    0px -6px 8px #0049ff,
    0px -6px 8px #008dff,
    0px -6px 9px #008dff;

  }
  4.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 9px 9px #881212,
    0px 9px 9px #881212,
    0px 9px 9px #881212;
  }

  6%, 100% {
    text-shadow: none;
  }
}

