.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-gal {
  height: 100% !important;
}

mat-sidenav-content {
  background-color: #282727;
}

.soft-panel {
  background-color: transparent;
  box-shadow: none;
}

mat-panel-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px !important;
}

mat-nav-list a {
  font-size: 14px;
  height: 32px;
  font-family: 'Merriweather Sans', sans-serif;
}

mat-nav-list p {
  margin-bottom: 0;
}

.sidebar-icon {
  padding-right: 4px;
  font-size: 13px;
  height: 13px;
  width: 13px;
}

.logo {
  cursor: pointer !important;
}

.love {
  color: red;
  font-size: 16px;
  height: 14px;
  width: 16px;
}

.own {
  font-size: 10px;
}

p .owner {
  font-size: 8px !important;
  font-weight: bold;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

mat-sidenav {
  background-color: #212121;
  padding-right: 2px;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.news {
  text-align: center !important;
  align-items: center !important;
  align-content: center !important;
  align-self: center !important;
  height: 160px !important;
}

.sidebar {
  max-width: 300px;
  //overflow: hidden;
}

.relax {
  padding-top: 10px;
  width: auto;
  max-width: 300px;
  min-height: 650px;
  position: sticky;
  top: 0;

  /*background-color: green;
  border: 2px solid #4CAF50;*/
}

.leftRelax {
  margin-left: auto;
  text-align: end;
}

.relaxed {
  /*top: 20%;
  transform: translate(0, -20%);
  min-width: 320px;
  min-height: 650px;
  position: fixed !important;
  pointer-events: auto;*/
}

p.shadowed {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.65);
}

.suggestion-link {
  margin-top: 50px;
  text-align: center;

  font-size: 16px !important;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 30s ease-out infinite;
  animation-delay: 3s;
}

@keyframes blur {
  0% {
      text-shadow: 0px 0px 10px #fff,
      0px 0px 1px #fff,
      0px 0px 3px #fff,
      0px 0px 3px #fff,
      0px 6px 5px #0015fa,
      0px 6px 6px #0015fa,
      0px -6px 6px #0049ff,
      0px -6px 7px #0049ff,
      0px -6px 8px #0049ff,
      0px -6px 8px #008dff,
      0px -6px 9px #008dff;

  }
  0.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 6px 6px #d22d77,
    0px 9px 9px #881212,
    0px 9px 9px #881212,
    0px 9px 9px #881212;
  }
  2% {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 1px #fff,
    0px 0px 3px #fff,
    0px 0px 3px #fff,
    0px 6px 5px #0015fa,
    0px 6px 6px #0015fa,
    0px -6px 6px #0049ff,
    0px -6px 7px #0049ff,
    0px -6px 8px #0049ff,
    0px -6px 8px #008dff,
    0px -6px 9px #008dff;

  }
  2.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 7px 7px #881212,
    0px 7px 7px #881212,
    0px 8px 8px #881212;
  }
  4% {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 1px #fff,
    0px 0px 3px #fff,
    0px 0px 3px #fff,
    0px 6px 5px #0015fa,
    0px 6px 6px #0015fa,
    0px -6px 6px #0049ff,
    0px -6px 7px #0049ff,
    0px -6px 8px #0049ff,
    0px -6px 8px #008dff,
    0px -6px 9px #008dff;

  }
  4.8% {
    text-shadow: 0px 4px 4px #fff,
    0px 4px 4px #bd0101,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 6px 6px #ff0000,
    0px 9px 9px #881212,
    0px 9px 9px #881212,
    0px 9px 9px #881212;
  }

  6%, 100% {
    text-shadow: none;
  }
}

