<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="disabled" class="toolbar mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="center center">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <img class="logo" routerLink="" ngSrc="assets/logo.svg" alt="Broken Pedia logo" width="200" height="65">
      </div>
      <div fxLayoutAlign="center center">
        <button *ngIf="!isLoggedIn" color="accent" mat-flat-button routerLink="/login"><strong>ZALOGUJ</strong></button>
        <button *ngIf="isLoggedIn" color="accent" mat-flat-button routerLink="/acc/dashboard"><strong>PROFIL</strong></button>
        <button *ngIf="isAdmin" color="warn" mat-flat-button routerLink="/admin"><strong>ADMIN</strong></button>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" hasBackdrop="false" [style.margin-top.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #sidenav opened="{{sidebarOpened}}" (openedChange)="navChange($event)" fixedTopGap="56" [fixedInViewport]="mobileQuery.matches"> <!--[mode]="mobileQuery.matches ? 'over' : 'side'"-->
        <div class="menu-gal" fxLayout="column">
          <mat-nav-list fxFlex>
            <mat-accordion>
              <mat-expansion-panel class="soft-panel" style="background-color: transparent; box-shadow: none">
                <mat-expansion-panel-header style="height: 32px">
                  <mat-panel-title>
                    <span>
                      <a class="news" routerLink=""><mat-icon class="sidebar-icon">today</mat-icon>Aktualności</a>
                    </span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a *ngFor="let cat of categories" mat-list-item routerLink="/category/{{cat.categorySlug}}"> {{cat.categoryName}} </a>
              </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion>
              <mat-expansion-panel class="soft-panel" style="background-color: transparent; box-shadow: none">
                <mat-expansion-panel-header style="height: 32px">
                  <mat-panel-title>
                    <mat-icon class="sidebar-icon">toc</mat-icon>Kalkulator buildów
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item routerLink="/build-calculator"><mat-icon class="sidebar-icon">hub</mat-icon> Kalkulator </a>
                <a mat-list-item routerLink="/build-calculator/builds"><mat-icon class="sidebar-icon">view_list</mat-icon> Lista buildów</a>
              </mat-expansion-panel>
            </mat-accordion>
            <a mat-list-item routerLink="/psycho-calculator"><mat-icon class="sidebar-icon">gradient</mat-icon> Kalkulator Psychoexpa</a>
            <a mat-list-item routerLink="/essence-calculator"><mat-icon class="sidebar-icon">battery_charging_full</mat-icon> Kalkulator odłamków i esencji</a>
            <a mat-list-item routerLink="/upgrade-simulator"><mat-icon class="sidebar-icon">stars</mat-icon> Symulator ulepszania BETA</a>
            <a mat-list-item routerLink="/drif-simulator"><mat-icon class="sidebar-icon">group_work</mat-icon> Symulator drifów</a>
            <a mat-list-item routerLink="/broken-helper"><mat-icon class="sidebar-icon">discord</mat-icon> BrokenHelper bot</a>
            <mat-accordion>
              <mat-expansion-panel class="soft-panel" style="background-color: transparent; box-shadow: none">
                <mat-expansion-panel-header style="height: 32px">
                  <mat-panel-title>
                    <mat-icon class="sidebar-icon">toc</mat-icon>Tips & Cheats
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item routerLink="/important-mods"><mat-icon class="sidebar-icon">all_out</mat-icon> Modyfikatory dla profesji </a>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-nav-list>
          <mat-nav-list fxLayout="column" fxLayoutAlign="end center" style="padding-bottom: 18px">
            <a routerLink="/privacy-policy">&#x2022; Polityka prywatności & cookies</a>
            <p>Made with <mat-icon class="love">favorite</mat-icon> by Galajus</p>
            <p class="own">Grafiki na stronie są własnością <a class="owner" href="https://www.whitemoon.com">Whitemoon.pl</a></p>
          </mat-nav-list>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <div fxLayout="row" fxLayoutAlign="center">
          <div *ngIf="!hideAds" fxFlex="17" #bar1 class="sidebar">

          </div>

          <div class="content restrict-width" [class.is-mobile]="mobileQuery.matches"> <!--fxFlex fxLayoutAlign="center"-->
            <router-outlet></router-outlet>
          </div>

          <div *ngIf="!hideAds" fxFlex="17" #bar2 class="sidebar">
            <div class="relax">
              <p class="shadowed">reklama</p>
              <ng-adsense adFormat="auto" display="block" [fullWidthResponsive]="true" [height]="700"></ng-adsense>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
