mat-card {
  padding: 25px 25px 25px 25px;
}

h3 {
  text-align: center;
  font-weight: bold;
  margin: auto;
}

h3.red {
  color: red;
}

h3.yellow {
  color: yellow;
}

h3.orange {
  color: orange;
}

h3.blue {
  color: cornflowerblue;
}

.make-space {
  margin-bottom: 8px !important;
}

.centered div {
  text-align: center !important;
}

.reactions {
  z-index:1001;
  position: absolute;
  right: 6px;
}

.sample, .sample mat-icon {
  display: flex;
  justify-content: center !important;
  text-align: center !important;
  font-size: 18px;
  line-height: 35px;
  padding-bottom: 6px;
  font-weight: bold;
}

.iconButton {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.upgradeStat {
  background-color: rgba(137, 255, 137, 0.1);
}

.reduceStat {
  background-color: rgba(255, 137, 137, 0.1);
}

.select-icon {
  font-size: 1em;
  width: 1em;
  height: 1em;
  color: cornflowerblue;
}
.select-icon:hover {
  cursor: pointer;
}

.pointer:hover {
  cursor: pointer;
}

mat-card img.activeImg {
  border: 2px solid transparent !important;
  border-radius: 80px !important;
  background-image: linear-gradient(white, white), linear-gradient(to right, yellow, orange) !important;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
}

mat-card img.skillImg:hover {
  cursor: pointer;
}

mat-card img.skillImg{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 100%;
  border: 2px solid transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), linear-gradient(to right, white, white);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

mat-card img.upgradeImg, img.downgradeImg{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 30%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 30%;
}

mat-card img.upgradeImg:active {
  transform: translateY(-2px);
}

mat-card img.downgradeImg:active {
  transform: translateY(2px);
}

mat-card button {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.upgrade {
  padding-top: 10px;
}

.ng-trigger {
  max-height: 80vh !important;
}

.upgrade :hover {
  cursor: pointer !important;
}

.student  span {
  background-color: rgba(23, 21, 21, 0.45);
  color: yellow;
}

.adept  span {
  background-color: rgba(23, 21, 21, 0.45);
  color: orange;
}

.master  span {
  background-color: rgba(23, 21, 21, 0.45);
  color: red;
}
