@mixin flex-direction($direction: row) {
  display: flex;
  flex-direction: $direction
}

@mixin flex-position($justify-content: flex-start, $align-items: normal) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-wrap($wrap: wrap, $align-content: normal) {
  display: flex;
  align-content: $align-content;
  flex-wrap: $wrap;
}

@mixin flex(
  $justify-content: flex-start,
  $align-items: normal,
  $direction: null,
  $wrap: null,
  $align-content: null
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  @if $direction != null {
    flex-direction: $direction;
  }
  @if $wrap != null {
    flex-wrap: $direction;
    @if $align-content != null {
      align-content: $align-content;
    }
  }
}

@mixin flex-x-stretch($width) {
  width: $width + '%';
}
