/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #282727;
}

html, body {
  height: 100%;
}

.restrict-width {
  width: 1000px;
}

.restrict-width.is-mobile {
  min-width: unset;
  width: 100%;
}

.test-gal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-card {
  background-color: rgba(52, 52, 52, 0.68) !important;
}

.special {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  overflow: hidden;

  flex-direction: column;
  position: relative;
}

.specialLeft {
  margin: 30px auto auto auto;
}

.specialRight {
  margin: 30px auto auto auto;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: 15px;
  background-color: #282727;
  text-shadow: 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000;
}

app-brokencalc .content {
  min-width: 900px !important;
}

.bold {
  font-weight: bold;
}

a, a:visited {
  color: white !important;
  text-shadow: 0 0 2px #181716, 0 0 4px #181716;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-body a {
  padding-left: 16px !important;
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}

mat-sidenav-container {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.example-form {
  width: 100% !important;
}

.example-full-width {
  width: 100%;
}


//POST PAGE
.post-content img {
  max-width: 100%;
  max-height: 100%;
}

//TEXT EDITOR
#sourceText {
  color: black !important;
}

.angular-editor-textarea {
  max-height: 700px;
}

//TOOLTIP
.mat-tooltip  {
  white-space: pre-line;
}

//RAR LIST
.rar-list .mat-list-item-content {
  padding: 0 !important;
}

//SUGGESTION LIST
.suggestion-inner p {
  margin: 0 !important;
}

//RAR LIST DIALOG
.rar-comparator-container .mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.mat-dialog-container {
  text-shadow: 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000;
}

//BUILD CALCULATOR
.menu-drif.mat-menu-panel {
  background-color: rgba(17, 17, 17, 0.97);
  min-width: unset !important;
  width: auto !important;
}

.menu-drif.level.mat-menu-panel {
  background-color: rgba(17, 17, 17, 0.97);
  min-width: unset !important;
  width: auto !important;
  overflow: hidden;
}

.upgrade-menu.mat-option {
  background-color: rgba(17, 17, 17, 0.97);
}

.cdk-overlay-pane.item-show {
  position: unset;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.91) !important;
  color: white;
  font-size: 13px;
}

.upgrade-menu .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

.mod-sum-dialog .mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.96) !important;
  overflow: hidden;
}

.build-tab {
  background-color: rgba(64, 255, 0, 0.05);
}

.inventory-tab {
  background-color: rgba(0, 187, 255, 0.05);
}

.description-tab {
  background-color: rgba(255, 223, 12, 0.05);
}
