@use "@angular/material" as mat;
@use "src/gal-colors" as gal;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');




/*$my-theme: mat.define-theme(
  $config: (
    typography: (
      plain-family: '"Roboto", "Helvetica Neue", sans-serif',
      brand-family: '"Roboto", "Helvetica Neue", sans-serif',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
  ),
);*/

$my-theme: (
  color: (
    primary: gal.$primary-palette,
    //primary: mat.$green-palette,
    tertiary: gal.$tertiary-palette,
    //tertiary: mat.$cyan-palette,
    theme-type: dark,
    //use-system-variables: true
  ),
  typography: (
    plain-family: '"Roboto", "Helvetica Neue", sans-serif',
    brand-family: '"Roboto", "Helvetica Neue", sans-serif',
    bold-weight: 900,
    medium-weight: 600,
    regular-weight: 400
  ),
  density: 0,
);

html {
  @include mat.theme($my-theme);
}

:root {
  @include mat.core-overrides((
    option-label-text-size: 14px,
    option-label-text-weight: 400
  ));

  @include mat.card-overrides((
    title-text-weight: 500,
    title-text-line-height: 20px,
    subtitle-text-color: rgba(255, 255, 255, 0.7),
    subtitle-text-size: 14px,
  ));

  @include mat.button-overrides((
    protected-container-color: rgba(39, 39, 39, 0.7),
  ));

  @include mat.form-field-overrides((
    container-text-size: 13px,
    subscript-text-weight: 300,
    subscript-text-size: 12px,
    container-text-weight: 400,
    filled-label-text-size: 13px,
    filled-label-text-weight: 500,
    outlined-label-text-size: 13px,
    outlined-label-text-populated-size: 13px,
    outlined-label-text-weight: 500
  ));

  @include mat.checkbox-overrides((
    label-text-size: 14px,
    label-text-weight: 500,
  ));

  @include mat.select-overrides((
    trigger-text-size: 13px,
    trigger-text-weight: 700
  ));
}

/*mat-card-content {
  font-size: 14px;
}*/

/*:root {
  @include mat.all-component-typographies($my-theme);
}*/

header {
  min-height: 100svh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 14px;
  //background-color: #282727;

}

html, body {
  height: 100svh;
}

.restrict-width {
  width: 1000px;
}

.restrict-width.is-mobile {
  min-width: unset;
  width: 100%;
}

.hide-checked mat-pseudo-checkbox {
  display: none !important;
}

.test-gal {
  /*display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}

mat-card {
  background-color: #191e1e !important;
}

.special {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  overflow: hidden;

  flex-direction: column;
  position: relative;
}

.specialLeft {
  margin: 30px auto auto auto;
}

.specialRight {
  margin: 30px auto auto auto;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: 15px;

  //background-color: #282727;
  text-shadow: 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000;
}

app-brokencalc .content {
  min-width: 900px !important;
}

.bold {
  font-weight: bold;
}

a, a:visited {
  color: white !important;
  text-shadow: 0 0 2px #181716, 0 0 4px #181716;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-body a {
  padding-left: 16px !important;
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}

mat-sidenav-container {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.example-form {
  width: 100% !important;
}

.example-full-width {
  width: 100%;
}


//POST PAGE
.post-content img {
  max-width: 100%;
  max-height: 100%;
}

//TEXT EDITOR
#sourceText {
  color: black !important;
}

.angular-editor-textarea {
  max-height: 700px;
}

//TOOLTIP
.mat-tooltip  {
  white-space: pre-line;
}

//RAR LIST
.rar-list .mat-list-item-content {
  padding: 0 !important;
}

//SUGGESTION LIST
.suggestion-inner p {
  margin: 0 !important;
}

//RAR LIST DIALOG
.rar-comparator-container .mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.mat-dialog-container {
  text-shadow: 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000, 0.5px 0.5px 0.5px #000000;
}

//BUILD CALCULATOR
.menu-drif  {
  @include mat.menu-overrides((
    container-color: rgba(17, 17, 17, 0.97)
  ));
}

.cdk-overlay-pane.item-show {
  position: unset;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.91) !important;
  color: white;
  font-size: 13px;
}

.custom-tooltip .mdc-tooltip__surface {
  white-space: pre-line !important;
  //background-color: rgb(32, 32, 34);
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
}

 mat-form-field.no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}

.upgrade-menu .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

.mod-sum-dialog .mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.96) !important;
  overflow: hidden;
}

.build-tab {
  background-color: rgba(64, 255, 0, 0.05);
}

.inventory-tab {
  background-color: rgba(0, 187, 255, 0.05);
}

.description-tab {
  background-color: rgba(255, 223, 12, 0.05);
}

//TABLES CUSTOM
.centered-sorted-header {
  .mat-sort-header-container {
    justify-content: center !important;
  }
}


//FLEX DISPLAYING

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex-space-around-center {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.flex-y-stretch {
  align-items: stretch;
}

.flex-x-stretch > * {
  flex: 1;
}

.flex-x-stretch-1-3 {
  width: 33.333333%;
}
.flex-x-stretch-2-3 {
  width: 66.666667%;
}

.flex-x-stretch-1-5 {
  width: 20%;
}
.flex-x-stretch-2-5 {
  width: 40%
}
.flex-x-stretch-3-5 {
  width: 60%
}
.flex-x-stretch-4-5 {
  width: 80%
}

@for $i from 1 through 50 {
  .flex-gap-#{$i} {
    gap: #{$i}px;
  }
}



//FLEX MATERIAL FIXES

/*button {
  align-self: center;
  height: unset !important;
}*/
