<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10">
  <mat-card fxFill>
    <mat-card-content>
      <h1>SUGESTIE</h1>

      <mat-list>
        <div fxLayout="column" *ngFor="let sug of suggestions">
          <mat-list-item style="height: auto; margin: 14px 0">
            <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5">

              <div fxFlex="16" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5">
                {{sug.author}} -> {{sug.type}}
              </div>
              <div fxFlex="76" fxLayoutGap="5" class="suggestion-inner" [innerHTML]="sug.suggestion">

              </div>
              <div fxFlex="8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5">
                <button mat-icon-button (click)="deleteItem(sug.id)">
                  <mat-icon style="color: red">delete</mat-icon>
                </button>
              </div>
            </div>
          </mat-list-item>
          <div fxLayout="row" fxLayoutAlign="start" style="color: gold">
            <mat-radio-group fxLayoutGap="5" [(ngModel)]="sug.status" (change)="changeStatus($event.value, sug.id)">
              <mat-radio-button class="example-radio-button" [value]="SuggestionStatus[SuggestionStatus.UNREAD]">{{SuggestionStatus.UNREAD}}</mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="SuggestionStatus[SuggestionStatus.DONE]">{{SuggestionStatus.DONE}}</mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="SuggestionStatus[SuggestionStatus.IN_FUTURE]">{{SuggestionStatus.IN_FUTURE}}</mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="SuggestionStatus[SuggestionStatus.NEED_MORE_DATA]">{{SuggestionStatus.NEED_MORE_DATA}}</mat-radio-button>
            </mat-radio-group>
            <button mat-icon-button (click)="openAdminCommentDialog(sug)"><mat-icon>comment</mat-icon></button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>



