table {
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.mat-column-author, .mat-column-buildName {
  font-weight: bold;
}

.profession-select {
  cursor: pointer;
}

.profession-disabled {
  filter: grayscale(1);
}
