table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-weight: bold;
}

th {
  text-align: center !important;
}

.profession-select {
  cursor: pointer;
}

.profession-disabled {
  filter: grayscale(1);
}
