<mat-card class="mat-elevation-z6" style="margin-bottom: 15px">
  <mat-card-content>
    <h1 style="text-align: center; color: red"><strong>WSZYSTKIE PROFESJE*:</strong></h1>
    <p style="text-align: center;">Redukcja obrażeń<br />Redukcja obrażeń biernych<br />Odporność na trafienie krytyczne 1x <br /> Modyfikator trafień (na gł&oacute;wną strefę atak&oacute;w)<br />Podwójne losowanie trafienia<br />Zużycie zasob&oacute;w</p>

    <h1 style="text-align: center;"><strong>DRUID (ulk/oda)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na unik (farid)<br />Szansa na zredukowanie obrażeń (holm)<br />Modyfikator obrażeń magicznych<br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Szansa na podw&oacute;jny atak<br />Szansa na trafienie krytyczne<br />Szansa na odczarowanie</p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Modyfikator obrażeń od żywiołu na broń<br />Podw&oacute;jne losowanie obrony</p>
    <h1 style="text-align: center;"><strong>RYCERZ (ulk)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na unik (farid)<br />Szansa na zredukowanie obrażeń (holm)<br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Podw&oacute;jne losowanie obrony<br />Szansa na odczarowanie<br />Modyfikator obrażeń od żywiołu na broń<br /></p>
    <h3 style="text-align: center; color: #c19639"><strong>Nie rób z siebie kaleki załóż zamienne np. pierki ze statami i wsadź tam kryta, podwójny i mod obrażeń fiz!</strong></h3>
    <h1 style="text-align: center;"><strong>BARBARZYŃCA (ulk)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na trafienie krytyczne<br />Szansa na podw&oacute;jny atak<br />Modyfikator obrażeń fizycznych<br />Modyfikator obrażeń od żywiołu (broń)<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi (też bardzo ważne):</strong></h2>
    <p style="text-align: center;">Wszystko co związane z trafianiem z sekcji dla wszystkich profesji (ulk i dur robią Ci ogromną robotę)<br /></p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Szansa na redukcje obrażeń (holm)<br /></p>
    <h1 style="text-align: center;"><strong>MAG OGNIA (ling)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na trafienie krytyczne<br />Szansa na podw&oacute;jny atak<br />Modyfikator obrażeń magicznych<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Szansa na odczarowanie<br /> Wszystko co związane z trafianiem z sekcji dla wszystkich profesji (ling i dur robią Ci ogromną robotę)<br /></p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Obrona urok<br />Podwójne losowanie obrony<br />Szansa na redukcje obrażeń (holm)</p>
    <h1 style="text-align: center;"><strong>DEBUFFERZY (ŁUCZNIK:ling VOODOO:oda SHEED:ulk)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">Szansa na podw&oacute;jny atak<br />Szansa na unik (farid)<br /> Szansa na redukcję obrażeń (holm)<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Szansa na odczarowanie<br /> Modyfikator obrażeń od żywiołu (broń - tylko sheed)<br />Przełamanie odporności na urok (tylko voodoo)<br /><br /></p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;">* bierne oraz redukcję obrażeń można rozwijać od midgame lub później - na beirn są już obowiązkowe</p>
  </mat-card-content>
</mat-card>
