<mat-card class="mat-elevation-z6" style="margin-bottom: 15px">
  <mat-card-content>
    <h1 style="text-align: center; color: red"><strong>WSZYSTKIE PROFESJE*:</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">Redukcja obrażeń<br />Redukcja obrażeń krytycznych / Odporność na trafienie krytyczne</p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Redukcja obrażeń biernych<br />Zużycie zasob&oacute;w (polecam wszystkim)</p>
    <h1 style="text-align: center;"><strong>DRUID</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na unik (farid)<br />Modyfikator obrażeń magicznych<br />Modyfikator trafień mentalnych<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Szansa na podw&oacute;jny atak<br />Szansa na zredukowanie obrażeń (holm)<br />Podw&oacute;jne losowanie trafienia<br />Szansa na odczarowanie</p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Modyfikator obrażeń od żywiołu na broń<br />Podw&oacute;jne losowanie obrony</p>
    <h1 style="text-align: center;"><strong>RYCERZ</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na unik (farid)<br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Podw&oacute;jne losowanie obrony<br />Szansa na odczarowanie<br />Szansa na zredukowanie obrażeń (holm)<br />obrony wręcz/dystansowe/urok</p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Modyfikator obrażeń od żywiołu na broń</p>
    <h1 style="text-align: center;"><strong>BARBARZYŃCA</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na trafienie krytyczne<br />Szansa na podw&oacute;jny atak<br />Modyfikator obrażeń fizycznych<br />Modyfikator obrażeń od żywiołu (broń)<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Podw&oacute;jne losowanie trafienia<br />Modyfikator trafień wręcz<br />Szansa na odczarowanie<br /><br /></p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Obrona urok<br />Szansa na redukcje obrażeń (holm)</p>
    <h1 style="text-align: center;"><strong>MAG OGNIA</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">&nbsp;Szansa na trafienie krytyczne<br />Szansa na podw&oacute;jny atak<br />Modyfikator obrażeń magicznych<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Podw&oacute;jne losowanie trafienia<br />Modyfikator trafień dystansowych<br />Szansa na odczarowanie<br /><br /></p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Obrona urok<br />Szansa na redukcje obrażeń (holm)</p>
    <h1 style="text-align: center;"><strong>DEBUFFERZY (ŁUCZNIK VOODOO SHEED)</strong></h1>
    <h2 style="text-align: center;"><strong>Najważniejsze:</strong></h2>
    <p style="text-align: center;">Szansa na podw&oacute;jny atak<br />Modyfikator trafień (na gł&oacute;wną strefę atak&oacute;w)<br />Szansa na unik (farid)<br /><br /></p>
    <h2 style="text-align: center;"><strong>Warte uwagi:</strong></h2>
    <p style="text-align: center;">Podw&oacute;jne losowanie trafienia<br />Podw&oacute;jne losowanie obrony<br />Szansa na odczarowanie<br />Szansa na redukcję obrażeń (holm)<br />Przełamanie odporności na urok (tylko voodoo)<br /><br /></p>
    <h2 style="text-align: center;"><strong>Specyficzne buildy-playstyle / opcjonalne:</strong></h2>
    <p style="text-align: center;">Modyfikator obrażeń od żywiołu (broń - tylko sheed)</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: left;">* Oznacza to, że w docelowym endgame buildzie każdy powinien posiadać te mody. Zaleca się aby w supporci (druid i rycerz) kompletowali je niemal od początku a debufferzy przynajmniej od midgame ~~70 lvl</p>
  </mat-card-content>
</mat-card>
