.rerol-stat-star {
  cursor: pointer;
}

.classic-rar-name {
  color: #00ccff;
}

.classic-epic-name {
  color: #FFFF00;
}

.classic-set-name {
  color: #40FF00;
}

.classic-rar-name {
  color: #00ccff;
}

.below-zero {
  color: red;
}

.gray {
  color: gray;
}

ul {
  font-size: 13px;
  padding: 0;
  margin: 0 0 0 10px;
}

li {
  padding-bottom: 0.5px;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #000000;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: rgba(38, 38, 38, 0.82);
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sum-value {
  color: #008dff;
  padding-left: 5px;
  margin-left: auto;
}
